.parentDiv {
	padding: 15px 0 15px 0;
}

.editable-input.editable-has-buttons {
	background-color: transparent;
	outline: 0;
	border: 1px solid #FFF;
}

button {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 3px 8px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none !important;
	color: #777;
	background-color: #f1f1f1 !important;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	font-weight: 500;
}

button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.w3-btn {
	color: #777;
	background-color: #f1f1f1 !important;
}